@import "./variables";

.full-w{
  width: $full-v;
}
.full-h{
  height: $full-v;
}

/////////////////////////////////////////////////////////////////////////
//  FLEXBOX  ////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////

.inline-flex{
  display: inline-flex;
}
.flex{
  display: flex;
  &.row{
    flex-direction: row;
  }
  &.column{
    flex-direction: column;
  }
  &.r-row{
    flex-direction: row-reverse;
  }
  &.r-column{
    flex-direction: column-reverse;
  }
}

.inline-flex, .flex{
  &.nowrap{
    flex-wrap: nowrap;
  }
  &.wrap{
    flex-wrap: wrap;
  }
  &.wrap-r{
    flex-wrap: wrap-reverse;
  }

  &.align-start{
    align-items: flex-start;
  }
  &.align-center{
    align-items: center;
  }
  &.align-end{
    align-items: flex-end;
  }
}

.gap-1{
  gap: 1rem;
}
.gap-12{
  gap: 1.2rem;
}
.gap-15{
  gap: 1.5rem;
}
.gap-17{
  gap: 1.7rem;
}
.gap-2{
  gap: 2rem;
}

.padding-1{
  padding: 1rem;
}
.padding-12{
  padding: 1.2rem;
}
.padding-15{
  padding: 1.5rem;
}
.padding-17{
  padding: 1.7rem;
}
.padding-2{
  padding: 2rem;
}
.margin-1{
  margin: 1rem;
}
.margin-12{
  margin: 1.2rem;
}
.margin-15{
  margin: 1.5rem;
}
.margin-17{
  margin: 1.7rem;
}
.margin-2{
  margin: 2rem;
}


/////////////////////////////////////////////////////////////////////////
//  COLORES DE BACKGROUND  //////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////

.bg-white{
  background: $white;
}
.bg-primary{
  background: $primary;
}
.bg-secondary{
  background: $secondary;
}
.bg-snuff{
  background: $snuff;
}
.bg-orange{
  background: $orange;
}
.bg-black{
  background: $black;
}
.bg-gray{
  background: $gray;
}
.bg-none{
  background: transparent;
}

/////////////////////////////////////////////////////////////////////////
//  COLORES DE TEXTO  ///////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////

.txt-white{
  color: white;
}
.txt-primary{
  color: $primary;
}
.txt-error{
  color: $red;
}
.txt-secondary{
  color: $secondary;
}
.txt-snuff{
  color: $snuff;
}
.txt-orange{
  color: $orange;
}
.txt-black{
  color: $black;
}
.txt-gray{
  color: $gray;
}



.txt-bold{
  font-weight: bold;
}
.txt-font{
  font-family: $font;
}
.txt-font-alt{
  font-family: $font-alt;
}


.clickeable{
  cursor: pointer;
}

.clickeable:hover{
  filter: brightness(90%);
}

.no-clickeable{
  cursor: none;
}

.font-16{
  font-size: 1rem;
}
.font-32{
  font-size: 2rem;
}
.font-48{
  font-size: 3rem;
}