$white: #fff;
$primary: #ff4912;
$secondary: #fff2f4;
$snuff: #e4dbeb;
$orange: #ffa500;
$black: #353535;
$gray: #BFBFBF;
$red: #F22539;

$b-radius: 20px;
$b-radius-min: 5px;
$font: "Lato";
$font-alt: "Monserrat";

$full-v: 100%;
$media-screen: 700px;

$modal-background: rgba(0, 0, 0, 0.6);
